# Enable CRB repo for development packages
dnf install -y dnf-plugins-core
dnf config-manager --set-enabled ol9_codeready_builder

# Enable EPEL for additional packages (e.g. pipx)
dnf install -y oracle-epel-release-el9

# Install packages via the system package-manager (dnf)
dnf install -y \
{%- for dep in deps %}
 {{ dep }}{% if not loop.last %} \{% endif %}
{%- endfor %}
