# This is done to avoid appleframework deprecation warnings
export MACOSX_DEPLOYMENT_TARGET=11.0

# Install packages via brew, assuming that brew is: installed, updated, and upgraded
{%- for dep in deps %}
{%- if "make" in dep %}
if make --version | grep i386-apple; then
  brew install make
fi
{% else %}
{{ dep }} --version && echo "Installed" || brew install {{ dep }} 
{%- endif %}
{%- endfor %}
