# Install packages via the Python package-manager (pip)
python3 -m pip install --upgrade pip
python3 -m pip install \
{%- for dep in deps %}
 {{ dep }}{% if not loop.last %} \{% endif %}
{%- endfor %}
