hello
astyle.log
astyle.log*
scripts/source-format.log*
*.o
*.o[ls]
*.orig
*.pyc
*.rej
*.whl
*.tar.gz
*.egg-info
*~
.cache
.idea
/*.patch
build
builddir
docs/build
docs/autogen/enumerate_example
docs/tutorial/dynamic_loading/enumerate_example
cscope.out
tags
cmake-build-debug/
# Windows
*Debug*
config/
build-win/
build-win-tmp/
out/
.vs/
*.exe
*.lib
*.vcxproj.*
subprojects/*
!subprojects/fio.wrap
!subprojects/liburing.wrap
!subprojects/spdk.wrap
!subprojects/libnvme-vfio.wrap
!subprojects/packagefiles
dist
selftest_results
*.egg-info
