[submodule "third-party/spdk/repos"]
	path = third-party/spdk/repos
	url = https://github.com/spdk/spdk.git
[submodule "third-party/liburing/repos"]
	path = third-party/liburing/repos
	url = https://git.kernel.dk/liburing
[submodule "third-party/fio/repos"]
	path = third-party/fio/repos
	url = https://git.kernel.dk/fio
[submodule "third-party/libnvme/repos"]
	path = third-party/libnvme/repos
	url = https://github.com/linux-nvme/libnvme.git
