hello
astyle.log
astyle.log*
*.o
*.o[ls]
*.orig
*.pyc
*.rej
*.whl
*.tar.gz
*.egg-info
*~
.cache
.idea
/*.patch
build
builddir
docs/build
cscope.out
tags
subprojects/fio
subprojects/liburing
subprojects/spdk
cmake-build-debug/
# Windows
*Debug*
config/
build-win/
build-win-tmp/
out/
.vs/
*.exe
*.lib
*.vcxproj.*
