.eggs
api.py
libxnvme.pxd
xnvme-cy-bindings/xnvme/cython_bindings/*.pxd
xnvme-cy-bindings/xnvme/cython_bindings/*.c
xnvme-cy-bindings/xnvme/cython_bindings/*.pyx
xnvme-cy-bindings/xnvme/__init__.py
MANIFEST
.build-py-env/
test_cython.c
test_cython.*.so
