
.. image:: xnvme.png
   :align: center
   :width: 100%

.. raw:: pdf

   Spacer 0 10mm

.. class:: title

`xNVMe`_ in `SPDK`_

.. class:: subtitle

Performance Report

.. class:: body

Performed the:

* INSERT_DATE

by the **xNVMe Automation Infrastructure** which consists of

* `CIJOE in xNVMe`_ / `CIJOE`_ 
* `GitHUB Actions in xNVMe`_ / `GHA`_

with **acknowledgements** to:

* Simon A. F. Lund
* Karl Bonde Torp
* Jim Harris

For questions to, and discussion of, the `xNVMe`_ in `SPDK`_ performance
report, please find the acknowledged parties in the **xNVMe** discord
and **SPDK** Slack channels.

.. raw:: pdf

   PageBreak oneColumn

.. _CIJOE in xNVMe: https://github.com/OpenMPDK/xNVMe/tree/main/cijoe 
.. _CIJOE: https://cijoe.readthedocs.io/en/latest/
.. _GitHUB Actions in xNVMe: https://github.com/OpenMPDK/xNVMe/blob/main/.github/workflows/
.. _GHA: https://github.com/OpenMPDK/xNVMe/actions
.. _SPDK: https://spdk.io
.. _xNVMe: https://xnvme.io
