---
devices:
- uri: "2GB"
  nsid: 1
  labels: ["dev", "bdev", "nvm", "ramdisk"]
  driver_attachment: "kernel"
  spdk_conf:

xnvme:
  repository:
    upstream: "https://github.com/OpenMPDK/xNVMe.git"
    path: "/root/git/xnvme"

  source:
    path: "/tmp/xnvme_source"

# Declaration of where fio is located on the test-target and which IO-engines it has available
fio:
  repository:
    upstream: "https://github.com/axboe/fio.git"
    path: "/root/git/fio"
    tag: "fio-3.32"

  build:
    prefix: "/opt/fio"

  bin: "/opt/fio/bin/fio"

  engines:
    libaio:
      type: builtin
    io_uring:
      type: builtin
    io_uring_cmd:
      type: builtin

    xnvme:
      path: /usr/local/lib/x86_64-linux-gnu/libxnvme-fio-engine.so
      type: external_dynamic
    spdk_nvme:
      path: /opt/aux/spdk_nvme
      type: external_preload
    spdk_bdev:
      path: /opt/aux/spdk_bdev
      type: external_preload
