[Unit]
Description=Bind PCI devices to vfio-pci after vfio-pci is loaded
After=systemd-modules-load.service
Requires=systemd-modules-load.service
ConditionPathExists=/sys/module/vfio_pci

[Service]
Type=oneshot
ExecStart=/usr/local/bin/devbind --bind vfio-pci --device 0000:02:00.0

[Install]
WantedBy=multi-user.target
